<form method="POST" action="/login">
  <label for="name">Email</label>
  <input type="text" name="email" placeholder="Email" required>

  <label for="password">Password</label>
  <input type="text" name="password" placeholder="Password" required>

  <input type="submit" value="Login">
</form>
